.tagName {
  background: map-get($colors, 'white1');
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, .125);

  &_theme_selected {
    background: map-get($colors, 'gray2');
  }
}

.tagGroup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
