.tagName {
  &:hover {
    background: map-get($colors, 'gray1');
    border-radius: 3px;
    cursor: default;
    user-select: none;
  }

  &_theme_selected {
    background: map-get($colors, 'gray2');

    &:hover {
      background: map-get($colors, 'gray2');
    }
  }
}

.tagGroup {
  display: grid;
  grid-gap: 3px;
}