.tools {
  .list {
    padding: 0;
    list-style: none;
  }

  .item {
    padding: 5px 10px;
    background: map-get($colors, 'gray1');
    border-radius: 3px;
    margin-bottom: 8px;

    &:hover {
      background: map-get($colors, 'gray2');
      cursor: pointer;
    }
  }
}
