@import "@css/utils/colors";
@import "@css/components/tools/tools";
@import "@css/components/dom/dom";
@import "@css/components/table-properties/table-properties";

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Verdana, serif;
}

.app {
    background-color: black;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-gap: 8px;
    min-height: 100%;
}

.window {
    background-color: map-get($colors, 'white1');
}

.window {
    padding: 16px;
}

.rightSidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 8px;
}
